@font-face {
  font-family: "iconfont"; /* Project id 4465307 */
  src: url('//at.alicdn.com/t/c/font_4465307_9g4bmnq3q.woff2?t=1710317523745') format('woff2'),
       url('//at.alicdn.com/t/c/font_4465307_9g4bmnq3q.woff?t=1710317523745') format('woff'),
       url('//at.alicdn.com/t/c/font_4465307_9g4bmnq3q.ttf?t=1710317523745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuxinghaoping:before {
  content: "\e654";
}

.icon-hangyelongtou:before {
  content: "\e643";
}

.icon-banxiaoshi:before {
  content: "\e600";
}

.icon-tongchengpeisong:before {
  content: "\e729";
}

.icon-shouye:before {
  content: "\e8b9";
}
